<div class="comment-top">
    <h6>Yorum Ekle</h6>
    <br />
    <div class="comment-bottom">
        <form id="commentForm" method="post">
            <input class="form-control" type="text" name="Username" placeholder="Kullanıcı Adınız" required>
            <input class="form-control" type="text" name="Title" placeholder="Konu" required>
            <textarea class="form-control" name="Content" placeholder="Mesajınız..." required></textarea>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
        <div id="responseMessage"></div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#commentForm").on("submit", function (e) {
            e.preventDefault();

            var formData = {
                Username: $("input[name='Username']").val(),
                Title: $("input[name='Title']").val(),
                Content: $("textarea[name='Content']").val()
            };

            $.ajax({
                url: "/Comment/PartialAddComment",
                type: "POST",
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $("#responseMessage").html('<p style="color: green;">' + response.message + '</p>');
                        $("#commentForm")[0].reset();
                    } else {
                        $("#responseMessage").html('<p style="color: red;">' + response.message + '</p>');
                    }
                },
                error: function () {
                    $("#responseMessage").html('<p style="color: red;">Bir hata oluştu. Lütfen tekrar deneyiniz.</p>');
                }
            });
        });
    });
</script>
