@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Listesi</h1>

<br />
<table class="table table-hover">


    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Durum</th>
        <th>Durum Değiştir</th>
        <th>Düzenle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Status</td>
            <td>
                <a href="/Admin/Category/Test" id="DeleteBtn" onclick="return confirm('Silmek istediğinize emin misiniz?');"
                class="btn btn-warning">Durum Değiştir</a></td>
            <td><a href="#" class="btn btn-info">Düzenle</a></td>
        </tr>
    }

</table>
<a href="/Admin/Category/AddCategory" class="btn btn-danger">Kategori Ekle</a>

<br /><br />
@Html.PagedListPager((IPagedList)Model,page=> Url.Action("CategoryList",new{page}))