
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Static Tables</title>

    <link href="/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="/inspinia-gh-pages/css/style.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        @await Html.PartialAsync("/Areas/Admin/Views/Admin/AdminNavbarPartial.cshtml")

        <div id="page-wrapper" class="gray-bg">
            @await Html.PartialAsync("/Areas/Admin/Views/Admin/AdminSidePartial.cshtml")
          

            <div class="wrapper wrapper-content animated fadeInRight">
                @RenderBody()
            </div>
            <div class="footer">
                
                <div>
                    <strong>Copyright</strong> Emre Kuş @DateTime.Now.Year
                </div>
            </div>

        </div>
    </div>

    @await Html.PartialAsync("/Areas/Admin/Views/Admin/AdminScriptPartial.cshtml")

    @await RenderSectionAsync("scripts",false)
</body>

</html>

