
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Hakkımızda</h1>
                <br />
                <h3 class="font-bold no-margins">
                 Asp.Net.Core 6.0
                </h3>
                <br />
                <h4>Projemizin bu panelinde Admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.</h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Eklenen Blog</h1>
                <br />
                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <br />
                <h4>Tüm bloglar...</h4>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
   
</div>